.chessboard {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto; 
  justify-content: center; 
}

.row {
  display: flex;
}

.square {
  width: 6vw;
  height: 6vw;
  background-color: #eee;
}

.black {
  background-color: #aaa;
}
